h1 {
  color: rgb(212, 83, 8);
  text-align: center;
  font-family: cursive;
}
.important {
  color: rgb(182, 194, 13);
}

h2 {
  color: rgb(109, 109, 14);
  text-align: center;
  font-family: Georgia;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: auto;
  width: 300px;
  height: 300px;
  padding: 12px;
}

p {
  text-align: center;
  font-family: Georgia;
  margin: 25px;
}

.history {
  border: 5px black;
  padding: 10px;
  margin: 12px;
}

ul {
  text-align: left;
  font-family: Georgia;
}

.projects {
  border: 5px black;
  padding: 10px;
  margin: 12px;
}

ol {
  text-align: left;
  font-family: Georgia;
}