h1 {
  color: rgb(212, 83, 8);
  text-align: center;
  font-family: cursive;
}
.important {
  color: rgb(182, 194, 13);
}

h2 {
  color: rgb(109, 109, 14);
  text-align: center;
  font-family: Georgia;
}

p {
  text-align: center;
  font-family: Georgia;
}

ul {
  text-align: left;
  font-family: Georgia;
}

ol {
  text-align: left;
  font-family: Georgia;
}